# 目标硬件平台：斐讯 K2T
CONFIG_TARGET_ath79=y
CONFIG_TARGET_ath79_generic=y
CONFIG_TARGET_ath79_generic_DEVICE_phicomm_k2t=y

# 基础与无线驱动 (QCA9563 + QCA9888)
CONFIG_PACKAGE_kmod-ath9k=y
CONFIG_PACKAGE_kmod-ath10k-ct=y
CONFIG_PACKAGE_ath10k-firmware-qca9888-ct=y

# 802.11k/v/r 漫游核心支持 (选用 wpad-mbedtls 兼顾完整 k/v/r/WPA3 与小体积)
# CONFIG_PACKAGE_wpad-basic-mbedtls is not set
CONFIG_PACKAGE_wpad-mbedtls=y

# 内存优化：64MB 内存必备防 OOM 机制
CONFIG_PACKAGE_zram-swap=y
CONFIG_PACKAGE_kmod-zram=y

# Web 后台 (LuCI) 与中文支持
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y
CONFIG_PACKAGE_luci-i18n-firewall-zh-cn=y
CONFIG_PACKAGE_luci-i18n-opkg-zh-cn=y

# 旁路由/AP 必要网络工具
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_nftables=y

# 剔除 16M/64M 设备不需要的臃肿模块 (K2T 无 USB 接口)
# CONFIG_PACKAGE_kmod-usb-core is not set
# CONFIG_PACKAGE_kmod-usb2 is not set
# CONFIG_PACKAGE_kmod-usb3 is not set
# CONFIG_PACKAGE_luci-app-access-control is not set
# CONFIG_PACKAGE_luci-app-upnp is not set
